/* .scroll-content {
    overflow: hidden;
} */

page-description {

    .scroll-content{
        margin-top: 0 !important;
    }

    ion-header {

        ion-navbar {
            background-color: transparent;
            transition: all ease-in-out .3s;
            color: white;

            div.toolbar-background {
                background-color: transparent !important;
            }

            &.showToolbar {
                box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.35); 
                background-color: color($colors, colorHunt2);       
            }

            span.button-inner {
                color: white !important;
            }

            ion-title div {
                color: white !important;
            }
        }
    }

    div#duotone {
        background: linear-gradient(to bottom, color($colors, colorHunt2) 0%,color($colors, colorHunt4) 100%);        
        padding: 1vh;        

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: color($colors, colorHunt1) !important;
            mix-blend-mode: lighten;
        }

        img {
            filter: grayscale(1) contrast(.7) brightness(1.3) !important;
            mix-blend-mode: multiply !important;
            width: 100%;
            height: 100%;
            min-height: 30vh;
            object-fit: cover;
            display: block;
        }
    }

    div.main-content {
        background-color: white !important;
        width: 100vw !important;

        ion-card {
            border: 1px solid lightgray;
            border-radius: 2vw !important;
            max-width: 85vw !important;
            box-sizing: border-box;
            margin: 3.5vh auto !important;
            padding: 1vw;
    
            ion-card-header {
                white-space: normal !important;
                font-weight: bolder;
                color: color($colors, colorHunt1);
            }

            ion-card-content {
                padding: 1vw;

                ion-grid {

                    ion-row {
                        margin: 1vh 0;

                        ion-col {

                            &.col-calendar,
                            &.col-map {
                                position: relative;

                                ion-icon {
                                    font-size: 2.5em;
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                    color: color($colors, colorHunt2);
                                }
                            }

                            &.col-like-book {
                                padding: 0.5vw;

                                li {
                                    position: relative;
                                    list-style: none;
    
                                    &.like,
                                    &.bookmark {
    
                                        img {
                                            &:first-of-type {
                                                filter: invert(0.5);
                                            }
    
                                            &:last-of-type {
                                                display: none;
                                            }
                                        }
    
                                    }
                                }
                            }
                        }
                    }

                    a#link_map {
                        color: black;
                        text-decoration: none;
                    }
                }
            }
        }
    
        h2 {
            width: 84vw;
            margin: 3.5vh auto !important;
            font-size: 120%;
            color: color($colors, colorHunt1);
        }

        div#description {
            max-width: 80vw !important;
            box-sizing: border-box;
            margin: 3.5vh auto !important;
            text-align: justify;

            a {
                color: color($colors, colorHunt3);
            }
        }
    }

}
