page-popover-profile {

    ion-content {
        padding: 2vw;

        ion-grid {
            ion-row {
                text-align: left;
                font-weight: bolder;
                margin-top: 1vh;
                margin-bottom: 1vh;
            }
        }
    }
}
