page-popover-profile {

    ion-content {
        padding: 2vw;

        ion-grid {
            ion-row {
                text-align: left;
                font-weight: bolder;
                margin-top: 1vh;
                margin-bottom: 1vh;
            }
        }
    }
}

ion-alert {

    div.alert-wrapper {
        // background: linear-gradient(to top, color($colors, colorHunt1) 0%,color($colors, colorHunt2) 100%) !important;
        
        * {
            color: color($colors, colorHunt1) !important;
        }

        div.alert-message {
            font-size: 1.3em !important;
            padding-top: 2vh;
        }

        div.alert-button-group {
            * {
                // border: none !important;
            }

            button {
            }
        }
    }
}
