
<ion-header>
    <div id="rectBackground"></div>

    <h1>{{activeDate | date:"dd-MM-yyyy"}}</h1>
    
    <button ion-button icon-only menuToggle="right">
        <ion-icon name='md-funnel'></ion-icon>
    </button>
</ion-header>

<ion-content>
    <ion-refresher no-lines (ionRefresh)="doRefreshGeolocation($event)"></ion-refresher>

    <div id='loading' *ngIf='isLoading'>
        <ion-spinner name="crescent"></ion-spinner>
        <p>{{ loadingMessage }}</p>
    </div>

    <div id='error' *ngIf='isError'>
        <ion-icon name="arrow-up"></ion-icon>
        <p>{{ errorMessage }}</p>
    </div>

    <ion-list id='myList' no-lines *ngIf='isFinished' style='opacity: 0 !important;'>
        <ion-item-group *ngFor="let event of datas">
            <ion-item-divider sticky no-lines>{{ event.day | date:"dd-MM-yy" }}</ion-item-divider>
            <ion-item id='{{ event.id }}' (dblclick)='likeEvent($event)' (press)='bookmarkEvent($event)'>
                <div class='imageDiv'>
                    <!-- <img src="https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-9/25395736_1493127934135871_4755177590793565076_n.jpg?oh=d952a23cc75c7119faba93c6fd15e5a7&oe=5AD2B4FB" alt=""> -->
                    <img src="{{ event.img }}" alt="">
                </div>
    
                <ion-scroll scrollX='true' class='test'>
                    <div class="cardsCollection">
                        <ion-card class="card1">
                            <p class="title">
                                {{ event.start_time | myDate:"ddMMMMyy hhmm":" ":" " }}
                            </p>
                            <div class="action" (click)='addCalendar($event)'>
                                <!-- <img src="" alt=""> -->
                                Cal
                            </div>
                        </ion-card>
    
                        <ion-card class='card2'>
                            <p class="title">
                                {{ event.name }}
                            </p>
                            <ul class="action">
                                <li class="like" (click)='likeEvent($event)'>
                                    <img src="assets/icons/favorite_border.svg" alt="">
                                    <img src="assets/icons/favorite_black.svg" alt="">
                                </li>
                                <li class="bookmark" (click)='bookmarkEvent($event)'>
                                    <img src="assets/icons/bookmark_border.svg" alt="">
                                    <img src="assets/icons/bookmark_black.svg" alt="">
                                </li>
                            </ul>
                        </ion-card>
                        
                        <ion-card class="card3">
                            <p class="title">
                                {{ event.location }}
                            </p>
                            <div>
                                <img src="" alt="">
                            </div>
                        </ion-card>
                    </div>
                </ion-scroll>
    
                <ul class="action_effect">
                    <li class="like">
                        <img src="assets/icons/favorite_black.svg" alt="">
                    </li>
                    <li class="bookmark">
                        <img src="assets/icons/bookmark_black.svg" alt="">
                    </li>
                </ul>
            </ion-item>
        </ion-item-group>
    </ion-list>

<!--     <ion-infinite-scroll (ionInfinite)="getMoreEvents($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll> -->

    <div id="refresher">
        <ion-icon name="arrow-down"></ion-icon>
        Rafraichir ma position
        <ion-icon name="arrow-down"></ion-icon>
    </div>
    
</ion-content>

<ion-menu [content]="mycontent" side="right" type="overlay">
    <ion-content id="content-sideMenu">

        <header id="rectBackgroundSide">
            <h2>
                Hey {{ user.nom }}, ici, <br> personnalise ta recherche <br> {{ cityName }}
            </h2>
        </header>

        <form>
            <ion-grid>
                <ion-row>
                    <ion-item no-lines id="keywordsInput">
                        <ion-label floating color="colorHunt1">Mots clés</ion-label>
                        <ion-input [(ngModel)]="keywordsInput" name="keywordsInput"> {{ keywordsInput }} </ion-input>
                    </ion-item>
                </ion-row>

                <ion-row>
                    <ion-item no-lines id="distanceInput">
                        <ion-label color="colorHunt1">Distance {{ rangeNumber | mToKm }} km</ion-label>
                        <ion-range min="250" max="5000" step="250" color="colorHunt3" name="rangeNumber" [(ngModel)]="rangeNumber">
                        </ion-range>
                    </ion-item>
                </ion-row>

                <ion-row>
                    <ion-item no-lines id="buttonCalendar">
                        <ion-col>
                            <label>A partir du : </label>
                        </ion-col>
                        <ion-col>
                            <button ion-button icon-end round (click)='datePickerFunc()'>
                                {{ firstDatePicker | date:"dd/MM" }}
                                <ion-icon name="md-calendar"></ion-icon>
                            </button>
                        </ion-col>
                    </ion-item>
                </ion-row>

                <ion-row>
                    <button ion-button id="buttonSearch" (click)='doRefreshGeolocation()'>Lancer la recherche</button>
                </ion-row>
            </ion-grid>
        </form>
        
    </ion-content>
</ion-menu>
  
<ion-nav #mycontent [root]="rootPage"></ion-nav>