
/* .scroll-content {
    overflow: hidden;
}
 */
page-events {
    
    .has-refresher scroll-content {
        border: 0px;
    }

    ion-header {
        position: relative;
        // visibility: hidden;

        * {
            margin: 0 !important;
            padding: 0 !important;
        } 

        #rectBackground {
            width: 100vw;
            height: calc(30vh + 16px);
            background: linear-gradient(to bottom, color($colors, colorHunt1) 0%,color($colors, colorHunt2) 100%);
            transform: skewY(8deg) translateY(-10vh);
            position: absolute !important;
        }

        h1 {
            top: calc(4vw + 16px);
            left: 4vw;
            color: white;
            position: absolute !important;
        }

        button {
            top: calc(6vw + 8px);
            right: 6vw;
            background-color: transparent !important;
            color: white;
            position: absolute !important;
            box-shadow: none !important;

            ion-icon {
                font-size: 2.4em !important;
            }
        }
    }

    ion-content:not(#content-sideMenu) {
        // background-color: gray;

        * {
            margin: 0 !important;
            padding: 0 !important;
        } 

        div#loading,
        div#error {
            width: 80vw;
            position: absolute;
            top: 50vh;
            left: 50vw;
            transform: translate(-50%, -50%);
            text-align: center;
        }

        div#loading {

            ion-spinner {
                width: 60px;
                height: 60px;
            }
        }

        div#refresher {
            text-align: center;
        }

        ion-list {
            position: absolute;
            top: 30vh;
            left: 0;
            width: 100vw;
            max-width: 100vw;
            background-color: transparent !important;

            ion-item-divider {
                background-color: transparent !important;
                text-align: center;
                font-size: 130% !important;
                color: color($colors, colorHunt2) !important;
                font-weight: bolder;

                ion-label {
                    margin: 3vh !important;
                }
            }

            ion-item {
                background-color: transparent !important;        
                box-sizing: content-box;           
                position: relative;         

                ion-label {
                    box-sizing: content-box;
                }

                div.imageDiv {
                    box-sizing: content-box;
                    width: 90vw;
                    height: 30vh;
                    border-radius: 3vw;
                    margin-left: auto !important;
                    margin-right: auto !important;
                    background: linear-gradient(to left, color($colors, colorHunt2) 0%,color($colors, colorHunt4) 100%);        
                    padding: 1vh;
                    overflow: hidden;

                    &::after {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        border-radius: 3vw;
                        margin-left: 50% !important;
                        transform: translateX(-50%);
                        width: 90vw;
                        height: 30vh;
                        background-color: color($colors, colorHunt1) !important;
                        mix-blend-mode: lighten;
                    }

                    img { 
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        display: block;
                        filter: grayscale(1) contrast(.7) brightness(1.3) !important;
                        mix-blend-mode: multiply !important;
                    }
                }

                ion-slides {
                    transform: translateY(-30%);

                    ion-slide {
                        width: 80vw !important;
                        min-height: 20vh;

                        ion-card {
                            flex: 1;
                            width: 100vw;
                            max-width: 75vw;
                            max-height: 13vh;                        
                            height: 13vh;                        
                            padding: 1% 2vw !important;
                            margin: auto !important;
                            border-radius: 2vw !important;
                            white-space: normal !important;
                            border: 1px solid grey;
                            box-sizing: border-box;
                            position: relative;
    
                            ion-grid {
                                max-height: 100% !important;
                                position: absolute;
                                top: 50%;
                                transform: translateY(-50%);
                            }

                            .title {
                                position: relative;
                                
                                p {
                                    font-weight: bold;
                                    color: black;
                                    position: absolute;
                                    top: 50%;
                                    transform: translateY(-50%);
                                }
                            }
        
                            .action {
                                max-height: 100% !important;
                                text-align: center;

                                .like
                                /* .bookmark */  {
        
                                    img {
                                        max-height: 6vh !important;

                                        &:first-of-type {
                                            filter: invert(0.5);
                                        }

                                        &:last-of-type {
                                            display: none;
                                        }
                                    }
                                }

                                .icon-calendar,
                                .icon-map {
                                    flex: 1;
                                    font-size: 40px;
                                    color: color($colors, colorHunt2);
                                }
                            }
                        }
                    }
                }

                /*ion-slides {
                    width: 100vw !important;
                    
                    &.cardsCollection {
                        width: 300vw;
                        display: flex;
                        position: absolute;
                        top: 0;
                        right: 0;
                        left: 0;
                        bottom: 0;
                        box-sizing: border-box;
                        padding: 0 25% !important;

                        
                    }
                }*/
                
                .action_effect {
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translateX(-25%);
                    width: 100vw !important;

                    .like,
                    .bookmark {
                        display: none;

                        img {
                            width: 50vw;
                            max-width: 100%;
                        }
                    }
                }
            }
        }
    }

    ion-menu {

        ion-content {

            #rectBackgroundSide {
                width: 100%;
                min-height: calc(20vh + 16px);
                background: linear-gradient(to bottom, color($colors, colorHunt1) 0%,color($colors, colorHunt2) 100%);
                padding: 8vh 4vw !important;
                transform: translateY(-5vh);

                h2 {
                    margin-top: 16px !important;
                    color: white !important;
                    font-size: 135%;
                    line-height: 1.8;
                    // word-break: break-all !important;

                    span {
                        color: rebeccapurple !important;
                    }
                }
            }

            form {

                ion-grid {

                    ion-row {
                        padding-top: 5%;
                        padding-bottom: 5%;
                        
                        ion-item {
                            width: 65vw !important;
                            margin: 0 auto !important;
                            padding: 0 !important;
        
                            &#keywordsInput {
                                border-bottom: 1px solid color($colors, colorHunt3);
                            }
        
                            &#distanceInput {
                
                                ion-label {
                                    width: 100% !important;
                                    padding-left: 2.5%;
                                }
        
                                ion-range {
                                    padding: 0 !important;
                                    width: 90% !important;
                
                                    .range-bar {
                                        height: 2px !important;
                                    }
        
                                    .range-knob {
                                        background-color: color($colors, colorHunt1) !important;
                                        width: 20px;
                                        height: 20px;
                                        top: 12px;
                                        left: 12px;
                                    }
                                }
                            }
        
                            &#buttonCalendar {
                                height: 2.8em;                                
        
                                label {
                                    vertical-align: middle;
                                    height: 2.8em !important;
                                    margin: 0.4rem 0.2rem;    
                                    color: color($colors, colorHunt1);                    
                                }
        
                                button {
                                    vertical-align: middle;                            
                                    padding: 0 5% !important;
                                    background-color: transparent !important;
                                    color: black;
                                    box-shadow: none;
                                    border: 1px solid color($colors, colorHunt3);
                                    
                                    ion-icon {
                                        color: color($colors, colorHunt2);
                                        font-size: 2.2em !important;
                                    }
                                }
                            }
                        }
        
                        button {
                            margin: 0 auto !important;

                            &#buttonSearch {
                                width: 60vw !important;
                                border-radius: 12px !important;  
                                font-weight: bolder;
                                background: linear-gradient(to bottom, color($colors, colorHunt1) 0%,color($colors, colorHunt3) 100%);                
                            }
                        }
                    }
                }
            }
        }
    }
}
